<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plastic Detector es un proyecto de investigación del Grupo de Recerca BIOST3 de la Universitat de Barcelona">
    <meta name="author" content="Roger Puga">
    <meta property="og:title" content="PLASTIC DETECTOR">
    <meta property="og:description" content="Plastic Detector es un proyecto de investigación del Grupo de Recerca BIOST3 de la Universitat de Barcelona">
    <meta property="og:image" content="{% static 'img/logo-home.png' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
    <!-- jquery -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.13.2/jquery-ui.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery-ui-1.13.2/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>

    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <!-- leaflet timedimension -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>
    
    <!-- heatmap scripts -->
    <script type="text/javascript" src="{% static 'build/heatmap.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/leaflet-heatmap/leaflet-heatmap.js' %}"></script>


    <!-- Agregar la biblioteca moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


    <title>{% block title %}Título predeterminado{% endblock %}</title>
</head>

<body>
    

    {% include 'nav/nav.html' %}

    {% include 'forms/crear_nuevo_documento.html' %}

    {% include 'forms/importar_documento.html' %}

    {% include 'forms/agregar_documento_al_mapa.html' %}

    {% include 'forms/agregar_documento_local_al_mapa.html' %}

    {% include 'forms/cerrar_documento.html' %}

    {% include 'error.html' %}


    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>
            <span>Universitat de Barcelona (2023) - Grup de Recerca BIOST3. Section of Statistics. Departament of Genètics, Microbiology and Statistics.</span>
        </p>
    </footer>


    <script src="{% static 'js/popup-open.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/local.js' %}"></script>
    <script src="{% static 'js/cerrar_documento.js' %}"></script>
</body>

</html>