<!DOCTYPE html>

<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.13.2/jquery-ui.min.css' %}">

    <meta name="description" content="Plastic Detector es un proyecto de investigación del Grupo de Recerca BIOST3 de la Universitat de Barcelona">
    <meta name="author" content="Roger Puga">
    <meta property="og:title" content="PLASTIC DETECTOR">
    <meta property="og:description" content="Plastic Detector es un proyecto de investigación del Grupo de Recerca BIOST3 de la Universitat de Barcelona">
    <meta property="og:image" content="{% static 'img/logo-home.png' %}">

    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script type="text/javascript" src="{% static 'build/heatmap.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/leaflet-heatmap/leaflet-heatmap.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery-ui-1.13.2/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.13.2/jquery-ui.min.js' %}"></script>
    <title>PLASTIC DETECTOR</title>

</head>

<body>
    <!-- <header>
        <h1> BIOST3</h1>
    </header> -->
    <div id="load-app">
        <div class="background" id="change-color">
            <div class="university-information">
                <header>
                    <h1>PLASTIC DETECTOR</h1>
                    <p>
                        <span>Universitat de Barcelona (2023) - Grup de Recerca BIOST3. Section of Statistics. Departament of Genètics, Microbiology and Statistics.</span>
                    </p>
                </header>
                <main>
                    <section>
                        <div>
                            <p>Desarrollador: Roger Puga</p>
                            <p>Equipo investigador: Joaquin Justel, Odei Garin</p>
                            <p>Dirección Técnica: Toni Monleón-Getino</p>
                        </div>
                        <div>
                            <img class="logo-biost3" src="{% static 'img/logo BIOST3.png' %}" alt="Logo del Grupo de Investigación BIOST3">
                            <img class="logo-estadistica" src="{% static 'img/seccio-estadistica.png' %}" alt="Logo de la Sección de Estadística">
                            <img class="logo-ub" src="{% static 'img/logo_home_nou.png' %}" alt="Logo de la Universitat de Barcelona">
                        </div>
                        <div id="loading">
                            Loading
                            <span id="loading-dots"></span>
                        </div>
                        <div id="press-any-key">
                            <p>Presiona cualquier tecla</p>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
    </div>

    <nav id="main-nav">
        <ul>
            <li><a>Archivo</a>
                <ul>
                    <li><a>Crear nuevo documento</a></li>
                    <li><a id="importar-documento-button">Importar documento</a></li>
                    <li><a>Exportar documento</a></li>
                    <li><a>Documentos añadidos</a></li>
                </ul>
            </li>
            <li><a>Ver</a>
                <ul>
                    <li>
                        <a>Documentos como tabla</a>
                    </li>
                    <li>
                        <a>Preferencias</a>
                    </li>
                    <li>
                        <a>Ayuda</a>
                    </li>
                </ul>
            </li>
            <li><a>Editar</a>
                <ul>
                    <li><a>Copiar</a></li>
                    <li><a>Cortar</a></li>
                    <li><a>Pegar</a></li>
                    <li><a>Deshacer</a></li>
                    <li><a>Rehacer</a></li>
                </ul>
            </li>
            <li><a>Ejecutar</a>
                <ul>
                    <li><a>Modelo de red neuronal</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="popup" id="crear-nuevo-documento">
        <div class="popup-content">
            <h2>Crear nuevo documento</h2>
            <form>
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" required>
                <label for="description">Descripción:</label>
                <textarea id="description" name="description" required></textarea>
                <label for="category">Categoría:</label>
                <select id="category" name="category" required>
              <option value="">Selecciona una categoría</option>
              <option value="1">Categoría 1</option>
              <option value="2">Categoría 2</option>
              <option value="3">Categoría 3</option>
            </select>
                <div class="button-container">
                    <button type="submit">Guardar</button>
                    <button type="button" onclick="closePopup()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="popup" id="importar-documento">
        <div class="popup-content">
            <h2>Importar documento</h2>
            <form method="POST" action="{% url 'importar_documento' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="document">Seleccionar documento:</label>
                <input type="file" id="document" name="document" accept=".csv" required>
                <div class="button-container">
                    <button type="submit">Importar</button>
                    <button type="button" onclick="closePopup()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>




    <!-- <aside>

    </aside> -->
    <section id="mapContainer">
        <div id="map">

        </div>
        <!-- <aside>
            <div id="asideTitle">
                <p>Properties</p>
            </div>
            <div class="element">
                <input type="file" name="outputFile" id="outputFile">
                
            </div>
        </aside> -->
        <div id="position">
            <div class="blur">
                lat: <span id="lat"></span><br> lng: <span id="lng"></span>
            </div>
        </div>
        <div id="panel">
            <div class="blur">
                <img class="icon red" id="folders-button" src="{% static 'img/dibujo.svg' %}" alt="" srcset="">
                <img class="icon blue" id="neural-network-button" src="{% static 'img/dibujo-1.svg' %}" alt="" srcset="">
                <img class="icon green" id="configuration-button" src="{% static 'img/dibujo-2.svg' %}" alt="" srcset="">
                <img class="icon dark" id="info-button" src="{% static 'img/info.svg' %}" alt="" srcset="">
            </div>
        </div>
    </section>



    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/load_web.js' %}"></script>
    <script src="{% static 'js/popup-open.js' %}"></script>
    <script src="{% static 'js/popup-close.js' %}"></script>

</body>

</html>